<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}core/css/base.css" />
    <script src="{{ STATIC_URL }}jquery.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
    <title>EventeX</title>
    <script type="text/javascript">
        $('.dropdown-toggle').dropdown()
        {% block javascript %}
        {% endblock javascript %}
    </script>
</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="#">SisEstoque</a>
                <div class="nav-collapse">
                    <ul class="nav">
                        <li class="active"><a href="/">Home</a></li>
                        <li class="dropdown" id="menu1">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#menu1">
                                Cadastro
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#about">Produtos</a></li>
                                <li><a href="{% url categoria:index %}">Categorias</a></li>
                                <li><a href="#about">Fornecedores</a></li>
                            </ul>
                        </li>
                        <li><a href="#contact">Estoque</a></li>
                        <li><a href="#contact">Relatórios</a></li>
                    </ul>
                    <ul class="nav pull-right">
                        <li><a href="/admin">Administração</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>

    <div class="container">

            {% block content %}
            {% endblock content %}
        </div>
    </div>
</body>
</html>